button {
	background: none;
	border: none;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	line-height: 1;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	font-weight: 700;
	letter-spacing: 2.8px;
	position: relative;
	text-align: center;
	transition: $trans-fast;

	&:hover {

		&::before,
		&::after {
			opacity: 1;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
		}
	}

	&::before,
	&::after {
		opacity: 0;
		transition: $trans-fast;
	}

	&::before {
		content: '';
		border-top: 3px solid $brand;
		border-left: 3px solid $brand;
		width: 10px;
		height: 10px;
		position: absolute;
		top: -2px;
		left: -2px;
	}

	&::after {
		content: '';
		border-bottom: 3px solid $brand;
		border-right: 3px solid $brand;
		width: 10px;
		height: 10px;
		position: absolute;
		bottom: -2px;
		right: -2px;
	}

	&-label-toggle {

		&.open {

			span {

				&:nth-child(1) {
					display: none;
				}

				&:nth-child(2) {
					display: block;
				}
			}
		}

		span {
			display: block;

			&:nth-child(2) {
				display: none;
			}
		}
	}
	
	&-brand {
		color: $black;
		border: 1px solid $brand;
	}

	&-white {
		color: $white;
		border: 1px solid $white;
	}

	&-dark {
		color: $black;
		border: 1px solid $black;
	}

	&-large {
		padding: 24px;

		@include laptop-mac {
			padding: 12px 24px;
		}

		@include mobile-xs {
			font-size: 1rem;
			padding: 12px;
		}
	}
	
	svg {
		
		path {
			fill: currentColor;
			stroke: currentColor;
		}
	}
}